# Main environment variables (update these in your .env.docker file)

# Database
DATABASE_URL=postgresql://postgres:postgres@cms-db:5432/CMS

# JWT Settings
JWT_SECRET=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA21DiMR0ii3mRzv1HgJhV45OO6pnDXbSef9Spic1gQcDLkAMoE2wccEoY9LlNpR7Od+JBbgGqI6SVM8f5Y4iPrahvVFsC6/KnDyFIeEl/Z3+YAqEAlPSLRrNmzmOZY7qchqc2ZoyIwTNDGmWHGbnzMVYvlwxYgLr+ai7NjtGsODTpXMIFjNFmuTGTJlp5+TX6y6uPptP0x909VfPPeYI0nnIkAFjddJR9XtHL/Zw7nxMLFbOep7E/CySLlrJ8kAm3/t67ZsmQiDoxcVzGqAetH3R9/UrFY/cDxjhPtXkCGG6wVeCd3U46Rlp9MetdVA837rkvnlW/2qUGrb7uRlTBzQIDAQAB
JWT_SECRET_REFRESH=fseujkfCjsgBDfcvhtyaCvfhGDASCVBJHADVFCHGABVcEDJKNFChSEDVFEDSGHVCJNSDegjhbrdgkvujyaregvbfrehfvbruyagaavaaara
JWT_SECRET_TIME=1h
JWT_SECRET_TIME_REFRESH=6h

# Node version
NODE_VERSION=18
ENVIRONMENT=production

# Keycloak Admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=SV66BEF-SBEFBFV-WEW8NFU-EI8B8F

# Keycloak Public Key (get this from your Keycloak realm's public key)
# You'll need to replace this with the actual public key from your Keycloak realm
KEYCLOAK_REALM_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA21DiMR0ii3mRzv1HgJhV45OO6pnDXbSef9Spic1gQcDLkAMoE2wccEoY9LlNpR7Od+JBbgGqI6SVM8f5Y4iPrahvVFsC6/KnDyFIeEl/Z3+YAqEAlPSLRrNmzmOZY7qchqc2ZoyIwTNDGmWHGbnzMVYvlwxYgLr+ai7NjtGsODTpXMIFjNFmuTGTJlp5+TX6y6uPptP0x909VfPPeYI0nnIkAFjddJR9XtHL/Zw7nxMLFbOep7E/CySLlrJ8kAm3/t67ZsmQiDoxcVzGqAetH3R9/UrFY/cDxjhPtXkCGG6wVeCd3U46Rlp9MetdVA837rkvnlW/2qUGrb7uRlTBzQIDAQAB

# Keycloak Database
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres

# Keycloak Settings - IMPORTANT: Use consistent hostname settings
KC_HOSTNAME=localhost
KC_HOSTNAME_STRICT=false
KC_HTTP_RELATIVE_PATH=/
KC_HTTP_ENABLED=true


# Front-end environment variables
VITE_API_URL=http://localhost:3000/
NX_KEYCLOCK_URL=http://localhost:8080
NX_KEYCLOCK_CLIENTID=cms-react
NX_KEYCLOCK_REALM=cms-realm