/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #206aba;
  --secondary: #305f91;
  --tertiary: #006fe6;
  --quad: #334c66;
  --fifth: #28313c;
  --sixth: #2b2f33;
  --fc-border-color: #2b2f33;
  --fc-today-bg-color: rgb(48, 95, 145, 0.5);
}

a {
  text-decoration: none;
}
