/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #206ABA;
    --secondary: #305F91;
    --tertiary: #006FE6;
    --quad: #334C66;
    --fifth: #28313C;
    --sixth: #2B2F33;
}

a {
  text-decoration: none;
}